<%- include("../partials/admin/header.ejs") %> 

 <div class="container pt-4 mt-5">
  <div class="container shadow-sm border border-1 rounded-4 w-50 p-4 mt-5" >
  <form action="/admin/login" method="post">
    <div class="row text-center">
        <h3>Admin Login</h3>
        <hr>
    </div>
    <div class="row mb-4">
        <label for="email" class="form-label fw-bold">Email</label>
        <input type="text" id="email" class="form-control" name="email" placeholder="admin@example.com" required>
    </div>
    <div class="row mb-4">
        <label for="password" class="form-label fw-bold">Password</label>
        <input type="password" id="password" class="form-control" name="password" placeholder="enter password" required>
    </div>
    <% if (message) { %>
          <div class="alert alert-danger py-1 text-center"><%= message %></div>
    <% } %>
    <div class="row d-flex justify-content-center">
        <button type="submit" class="btn btn-dark fw-bold">Login</button>
    </div>
  </form>  
  </div>
  </div>

<%- include("../partials/admin/footer.ejs") %>