<%- include("../partials/user/header.ejs") %>
<%- include("../partials/user/navbar.ejs") %>

  <div class="container d-flex flex-column align-items-center justify-content-center mt-5" style="height: 75vh;">

    <div><img src="/images/check.jpg" style="width: 150px;height: 150px;background-color: white;" alt=""></div>
    <p class="fw-bold fs-4">THANK YOU FOR ORDERING</p>
  </div>
  <div class="d-flex flex-column flex-md-row  align-items-center justify-content-center gap-2">
    <a href="/orders" class="btn btn-outline-dark px-5 fw-semibold">View Orders</a>
    <a href="/all-products" class="btn btn-outline-dark px-3 fw-semibold">Continue Shopping</a>
  </div>
  <%- include("../partials/user/footer.ejs") %>
</body>

</html>
