<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>RORITO</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
  <style>
    body {
      background: #f5f5f5;
    }

    .signup-container {
      max-width: 750px;
      margin: 60px auto;
      background: white;
      padding: 30px;
      border-radius: 8px;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    }

    .error-message {
      color: red;
      font-size: 0.75rem;
      display: none;
    }
  </style>
</head>

<body>
<div class="row signup-container">
  <div class="col-md-6">
  
  <div>
    <h3 class="text-center mb-3">Create an Account</h3>
      <div class="text-center mt-1">
     
      
      <a href="/auth/google?authType=signup" class="btn btn-outline-dark w-100">
        <i class="bi bi-google me-2"></i> Continue with Google
      </a>
      <p class="text-muted">or sign up with</p>
       <hr />
    </div>
    <form action="/signup" method="POST" id="signform">
      <div class="mb-2">
        <input type="text" id="name" name="name" class="form-control bg-light rounded-3 fw-bold" placeholder="Name" />
        <div id="error1" class="error-message"></div>
      </div>
      <div class="mb-2">
        
        <input type="email" id="email" name="email" class="form-control bg-light rounded-3 fw-bold" required placeholder="Email" />
        <div id="error2" class="error-message"></div>
      </div>
      <div class="mb-2">
       
        <input type="tel" id="phone" name="phone" class="form-control bg-light rounded-3 fw-bold" required placeholder="Phone" />
        <div id="error3" class="error-message"></div>
      </div>
      <div class="mb-2">
        
        <input type="password" id="password" name="password" class="form-control bg-light rounded-3 fw-bold" placeholder="Password" required />
        <div id="error4" class="error-message"></div>
      </div>
      <div class="mb-1">
        
        <input type="password" id="confirm-password" name="confirmPassword" class="form-control bg-light rounded-3 fw-bold" placeholder="Confirm Password" required />
        <div id="error5" class="error-message"></div>
      </div>
      <% if(locals.message && message.length>0){ %>
        <div class="alert alert-danger text-center">
          <%= message %>
        </div>
        <% } %>
        <div class="row d-flex justify-content-center mt-2">
          <button type="submit" class="btn btn-secondary w-50 ">Sign Up</button>
          </div>
    </form>
    
    <p class="text-center mt-2">
      Already have an account?
      <a href="/login">Log In</a>
    </p>
  </div>
  </div>
  <div class="col-md-6 d-none d-md-flex justify-content-center align-items-center">
    <img src="/images/resetpassword-img.avif" style="width: 300px; height: 350px;" alt="">
  </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>
  <script>

    const nameid = document.getElementById("name");
    const emailid = document.getElementById("email");
    const phoneid = document.getElementById("phone");
    const passid = document.getElementById("password");
    const confirmPassword = document.getElementById("confirm-password");

    const error1 = document.getElementById("error1");
    const error2 = document.getElementById("error2");
    const error3 = document.getElementById("error3");
    const error4 = document.getElementById("error4");
    const error5 = document.getElementById("error5");

    const signform = document.getElementById("signform");

    function nameValidateChecking(e) {
      const nameval = nameid.value;
      const namePattern = /^[A-Za-z\s]+$/;
     
      if (nameval.trim() == "") {
        error1.style.display = "block";
        error1.innerHTML = "Please enter a valid name";
      }
      else if (!namePattern.test(nameval)) {
        error1.style.display = "block";
        error1.innerHTML = "Name can only contain alphabets and spaces"
      }
      else {
        error1.style.display = "none"
        error1.innerHTML = ""
      }

    }

    function emailValidateChecking(e) {
      const emailval = emailid.value;
      const emailPattern = /^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$/i;

      if (!emailPattern.test(emailval)) {
        error2.style.display = "block";
        error2.innerHTML = "Invalid email"
      }
      else {
        error2.style.display = "none";
        error2.innerHTML = ""
      }

    }

    function phoneValidateChecking(e) {
      const phoneval = phoneid.value;

      if (phoneval.trim() === "") {
        error3.style.display = "block"
        error3.innerHTML = "This field is required"
      } else if (phoneval.length < 10 || phoneval.length > 10) {
        error3.style.display = "block"
        error3.innerHTML = "Enter 10 digit"
      }
      else {
        error3.style.display = "none";
        error3.innerHTML = ""
      }
    }

    function passwordValidateChecking(e) {
      const passval = passid.value;
      const cpassval = confirmPassword.value;
      const alpha = /[a-zA-Z]/;
      const digit = /\d/;


      if (passval.length < 8) {
        error4.style.display = "block";
        error4.innerHTML = "Should contain 8 letters"
      } else if (!alpha.test(passval) || !digit.test(passval)) {
        error4.style.display = "block";
        error4.innerHTML = "Should contain numbers and alphabets";
      } else {
        error4.style.display = "none";
        error4.innerHTML = ""
      }

      

    }

    

nameid.addEventListener("blur", nameValidateChecking);
emailid.addEventListener("blur", emailValidateChecking);
phoneid.addEventListener("blur", phoneValidateChecking);
passid.addEventListener("blur", passwordValidateChecking);
confirmPassword.addEventListener("blur", passwordValidateChecking);

signform.addEventListener("submit", function (e) {
  nameValidateChecking();
  emailValidateChecking();
  phoneValidateChecking();
  passwordValidateChecking();

  const passval = passid.value;
  const cpassval = confirmPassword.value;

  if (passval !== cpassval) {
        error5.style.display = "block";
        error5.innerHTML = "Passwords do not match"
      } else {
        error5.style.display = "none";
        error5.innerHTML = ""
      }
  if (
    error1.style.display === "block" ||
    error2.style.display === "block" ||
    error3.style.display === "block" ||
    error4.style.display === "block" ||
    error5.style.display === "block"
  ) {
    e.preventDefault();
  }
});



  </script>
</body>

</html>