<div id="sidebar" class="collapsed">
  <h4 class="text-center">Admin Panel</h4>
  <ul>
    <li><a href="/admin"><i class="fas fa-tachometer-alt me-2"></i> Dashboard</a></li>
    <li><a href="/admin/users"><i class="fa-solid fa-users me-2"></i> Customers</a></li>
    <li><a href="/admin/category"><i class="fa-solid fa-layer-group me-2"></i>Category</a></li>
    <li><a href="/admin/brands"><i class="fa-solid fa-medal me-2"></i>Brands</a></li>
    <li><a href="/admin/add-product"><i class="fa-regular fa-square-plus me-2"></i>Add Product</a></li>
    <li><a href="/admin/products"><i class="fa-brands fa-product-hunt me-2"></i>Products</a></li>
    <li><a href="/admin/coupon"><i class="fa-solid fa-ticket me-2"></i>Coupon</a></li>
    <li><a href="/admin/banner"><i class="fa-solid fa-rectangle-ad me-2"></i>Banner</a></li>
    <li><a href="/admin/orders"><i class="fa-solid fa-cart-arrow-down me-2"></i>Orders</a></li>
  </ul>
</div>

<!-- Navbar -->
<div id="content" class="expanded">
  <nav class="navbar navbar-light bg-light mb-4">
    <button class="toggle-btn" id="menu-toggle">
      <i class="fas fa-bars"></i>
    </button>
  
    <span class="navbar-brand mb-0 h1 ms-3"><i class="fa-solid fa-user-tie"></i></span>
  </nav>