<div id="sidebar" class="collapsed">
  <h4 class="text-center">Admin Panel</h4>
  <ul>
    <li><a href="/admin"><i class="fas fa-tachometer-alt me-2"></i> Dashboard</a></li>
    <li><a href="/admin/users"><i class="fa-solid fa-users me-2"></i> Customers</a></li>
    <li><a href="/admin/category"><i class="fa-solid fa-layer-group me-2"></i>Category</a></li>
    <li><a href="/admin/brands"><i class="fa-solid fa-medal me-2"></i>Brands</a></li>
    <li><a href="/admin/add-product"><i class="fa-regular fa-square-plus me-2"></i>Add Product</a></li>
    <li><a href="/admin/products"><i class="fa-brands fa-product-hunt me-2"></i>Products</a></li>
    <li><a href="/admin/coupon"><i class="fa-solid fa-ticket me-2"></i>Coupon</a></li>
    <li><a href="/admin/banner"><i class="fa-solid fa-rectangle-ad me-2"></i>Banner</a></li>
    <li><a href="/admin/orders"><i class="fa-solid fa-cart-arrow-down me-2"></i>Orders</a></li>
    <li><a href="/admin/logout"><i class="bi bi-box-arrow-right"></i>Logout</a></li>
  </ul>
</div>

<!-- Navbar -->
<div id="content" class="expanded">
  <nav class="navbar navbar-white bg-white mb-4">
    <div class="container-fluid d-flex justify-content-between align-items-center position-relative">

      <!-- Left: Toggle Button -->
      <button class="toggle-btn btn" id="menu-toggle">
        <i class="fas fa-bars"></i>
      </button>

      <!-- Center: Brand Name -->
      <div class="position-absolute start-50 translate-middle-x">
        <span class="navbar-brand mb-0 h1" style="font-size: 40px;font-family: 'Times New Roman', Times, serif;color: rgb(74, 74,74);">
           RORITO
        </span>
      </div>

      <!-- Right: User Icon -->
      <div>
        <a href="#" class="text-decoration-none "><i class="fa-solid fa-user-tie fs-4"></i></a>
      </div>

    </div>
    
  </nav>
  <hr style="height: 2px;background-color: black;border: none;">
</div>
