 <!-- Side-Nav -->
  <div class="side-navbar  d-flex justify-content-between flex-wrap flex-column" id="sidebar">
    <ul class="nav flex-column text-white w-100">
      <a href="#" class="nav-link h3 text-white my-2">
        RORITO
      </a>
      <li class="nav-link">
        <a href="/admin" class="text-decoration-none text-white">
          <i class="bi bi-house-door-fill"></i>
          <span class="mx-2">Home</span>
        </a>
      </li>
      <li class="nav-link">
        <a href="/admin/users" class="text-decoration-none text-white">
          <i class="bi bi-people-fill"></i>
          <span class="mx-2">Customers</span>
        </a>
      </li>
      <li class="nav-link">
        <a href="/admin/category" class="text-decoration-none text-white">
          <i class="bi bi-tags"></i>
          <span class="mx-2">Category</span>
        </a>
      </li>
      <li class="nav-link">
        <a href="/admin/brands" class="text-decoration-none text-white">
          <i class="bi bi-award"></i>
          <span class="mx-2">Brands</span>
        </a>
      </li>
      <li class="nav-link">
        <a href="/admin/products/add-product" class="text-decoration-none text-white">
          <i class="bi bi-plus-square"></i>
          <span class="mx-2">Add Product</span>
        </a>
      </li>
      <li class="nav-link">
        <a href="/admin/products" class="text-decoration-none text-white">
          <i class="bi bi-box-seam"></i>
          <span class="mx-2">Products</span>
        </a>
      </li>
      <li class="nav-link">
        <a href="/admin/coupon" class="text-decoration-none text-white">
          <i class="bi bi-gift"></i>
          <span class="mx-2">Coupon</span>
        </a>
      </li>
      <li class="nav-link">
        <a href="/admin/banner" class="text-decoration-none text-white">
          <i class="bi bi-images"></i>
          <span class="mx-2">Banner</span>
        </a>
      </li>
      <li class="nav-link">
        <a href="/admin/orders" class="text-decoration-none text-white">
          <i class="bi bi-receipt-cutoff"></i>
          <span class="mx-2">Orders</span>
        </a>
      </li>
      <li class="nav-link">
        <a href="/admin/delivery" class="text-decoration-none text-white">
          <i class="bi bi-plus-square"></i>
          <span class="mx-2">Delivery Charge</span>
        </a>
      </li>


    </ul>


  </div>

  <!-- Main Wrapper -->
  <div class="p-1 my-container ">
    <!-- Top Nav -->
    <nav class="navbar top-navbar navbar-light bg-white px-3 border-bottom ">
      <div class="container-fluid nav-container d-flex justify-content-between align-items-center w-100">
        <!-- Sidebar toggle -->
        <a class="btn border-0 fs-2 fw-bold" id="menu-btn"><i class="bx bx-menu"></i></a>

        <!-- Centered brand -->
        <span class="navbar-brand mx-auto fw-semibold fs-2 text-uppercase"
          style="font-family: 'Times New Roman', Times, serif;">RORITO</span>

        <!-- Placeholder for right side (can leave empty or add buttons) -->
        <div style="width: 36px;"><a href="/admin/profile" class="text-decoration-none fs-4 text-secondary"><i class="bi bi-person-circle"></i></a>
        </div> <!-- Maintains alignment balance -->

      </div>

    </nav>